@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

.logoBurger {
  display: block;
  margin: auto;
  margin-top: 5rem;
  height: 20rem;
}

.buttons {
  display: flex;
  margin: auto;
  margin-top: 3rem;
  width: 700px;
  height: 300px;
  justify-content: space-between;
}

.kitchen {
  width: 259px;
  height: 50px; 
  padding:1.5rem;
  text-align: center;
  background: #95E1D3;
  border: 5px solid #9D91B9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-size: 40px;
  color: #F38181;
  font-family: 'Quicksand';
  font-style: bold;
  font-weight: 700;
  text-decoration: none;
}

.waiter {
  width: 259px;
  height: 50px; 
  padding:1.5rem;
  text-align: center;
  background: #FCE38A;
  border: 5px solid #9D91B9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-size: 40px;
  color: #F38181;
  font-family: 'Quicksand';
  font-style: bold;
  font-weight: 700;
  text-decoration: none;
}

.containerWaiter {
  display: flex;
  justify-content: row;
}

.smallLogo {
  height: 100px;
  padding: 10px;
}

.menuUp {
  display: flex;
  justify-content: row;
}

.menuKitchen {
  color: #F38181;
  margin-top: 25px;
  font-size: 48px;
  padding: 10px
}

.sideBar {
  background-color: #FCE38A;
  margin-left: auto;
  height:50rem;
  width: 500px;
}

.customer {
background: #FFFFFF;
border: 1px solid #9D91B9;
box-sizing: border-box;
border-radius: 10px;
font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 32px;
text-align: center;
line-height: 40px;
margin: auto;
margin-top: 20px;
display: block;

}

.sendOrder {
width: auto;
height: 56px;
background: #95E1D3;
border: 5px solid #9D91B9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 40px;
text-align: center;
display: block;
margin: auto;
bottom: auto;
}

.rightSide {
  display: flex;
  flex-direction: column;
}

.menuButtonContainer {
  display: flex;
  flex-wrap: wrap;
}

.normal {
background: #FCE38A;
border: 5px solid #9D91B9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
width: 256px;
height: 52px;
left: 36px;
top: 124px;
font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 38px;
text-align: center;
color: #F38181;
margin: auto;
margin-top: 20px;
text-decoration: none;
}

.active{
  background: #FCE38A;
  border: 5px solid #F38181;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 256px;
  height: 52px;
  left: 36px;
  top: 124px;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  color: #F38181;
  margin: auto;
  margin-top: 20px;
  text-decoration: none;
  }


  .box {
    width:600px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2rem;

  }

  .btn {
width: 143px;
height: 88px;
margin-top: 10px;
font-family: 'Quicksand';
font-style: bold;
font-weight: 400;
font-size: 15px;
line-height: 25px;
text-align: center;
background: #95E1D3;
border: 5px solid #9D91B9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
cursor: pointer;
  }

  .notFound {
    display: block;
    margin: auto;
    margin-top: 10%;
  }

  .back {
width: 152px;
height: 35px;
text-decoration: none;
background: #F38181;
border: 5px solid #9D91B9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
text-align: center;
color: #EAFFD0;
margin-bottom: 0;;
  }

.row {
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
  }

.col-1 {
  flex: 1;

}
.col-2 {
  flex: 2;
}

button.add {
  background-color: #95E1D3;
  width: 1.5rem;
  font-size: 0.8rem;
  padding: 0.2rem;
  margin: 0.1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: #FFFFFF;
}

button.remove {
  background-color: #F38181;
  width: 1.5rem;
  font-size: 0.8rem;
  padding: 0.2rem;
  margin: 0.1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: #FFFFFF;
}

text-right {
  text-align: right;
}

.cart {
  font-size: 15px;
}

.cartTotal {
  font-size: 25px;
}

.order {
  margin: 1rem
}

.containerOrderWaiter {
  overflow: scroll;
  max-height: 22rem;
}

.ordersContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow:scroll;
  max-height: 30rem;
}

.orderKitchen {
  background-color: #95E1D3;
  border:#9D91B9 3px solid;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  flex: 2;
  min-width: 15rem;
  max-width: 15rem;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  justify-content: space-between;
}

.btnReady {
  width: auto;
height: 540x;
background: #FCE38A;
border: 5px solid #9D91B9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 40px;
text-align: center;
display: block;
margin: auto;
bottom: auto;
}
